
.win-toggleswitch-on .win-toggleswitch-track {
    background-color: gray;
    border-color: gray;
}

.win-toggleswitch .win-toggleswitch-thumb {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.win-toggleswitch .win-toggleswitch-track {
    border-radius: 10px;
    height: 18px;
}

.win-toggleswitch.win-toggleswitch-on .win-toggleswitch-thumb {
    left: 30px;
}

.setting {
    box-sizing: border-box;
    padding: 0px 10px;
}

    .setting h2 {
        font-weight: normal;
    }

.backgroundPicker {
    position: relative;
}

    .backgroundPicker input {
        display: none;
    }

    .backgroundPicker button {
    }

.backgroundList {
    height: 100px;
}

.icon {
    font-family: "Segoe UI Command", "Symbols";
    letter-spacing: 0;
    vertical-align: middle;
    font-size: 20px;
    margin: 0;
    padding:10px;
    background-position: 0 0;
    background-origin: border-box;
    display: inline-block;
    background-size: 96px 48px;
    outline: none;
    color: #ffffff;
    background:none;
    border:none;
}
.icon.action:hover {
    background:rgba(255, 255, 255, 0.1);
}
.folderItem {
    transition:background 0.2s ease;
    display:inline-block;
}
.folderItem span {
    min-width:200px;
    display:inline-block;
}
.folderItem:hover {
    background:#393939;
}
