
.win-toggleswitch-on .win-toggleswitch-track {
    background-color: gray;
    border-color: gray;
}

.win-toggleswitch .win-toggleswitch-thumb {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.win-toggleswitch .win-toggleswitch-track {
    border-radius: 10px;
    height: 18px;
}

.win-toggleswitch.win-toggleswitch-on .win-toggleswitch-thumb {
    left: 30px;
}

.setting {
    box-sizing: border-box;
    padding: 0px 10px;
}

    .setting h2 {
        font-weight: normal;
    }

.backgroundPicker {
    position: relative;
}

.backgroundList {
    height: 100px;
}
.folderItem {
    transition:background 0.2s ease;
    display:inline-block;
}
.folderItem span {
    min-width:200px;
    display:inline-block;
}
.folderItem:hover {
    background:#393939;
}
.backgroundListItem {
    width:100px;
    height:50px;
    overflow:hidden;
}