body {
   position:relative;
   background:black;
}
body:after {
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    background:url(/images/7.jpg) no-repeat;
    background-size:cover;
    z-index:-1;
    opacity:0.2;
}

.mySplit.win-splitview-pane-closed .mySplitHeader {
    background:rgba(0,0,0,0.5);
    transition:background 0.2s linear;
}
.mySplitContain {
    width:100%;
    height:100%;
    position:relative;
}
.topAppBarContain {
    width:100%;
    font-size:0px;
}
.topAppBarContain>button {
    font-size:16px;
    display:inline-block;
    vertical-align:top;
}
.appBars {
    width:calc(100% - 48px);
    display:inline-flex;
    font-size:14px;
    vertical-align:top;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:stretch;
    background:#393939;
    height:48px;
}
.fixName {
    flex:0 0 auto;
    height:auto;
    line-height:48px;
    padding:0px 10px;
    box-sizing:border-box;
}
.myAppBar {
    flex:1 1 auto;
    box-sizing:border-box;
}
.myAppBar .win-commandicon {
    margin:11px;
}
.searchBox {
    margin-top:8px;
}
.pageContain {
    width:auto;
    /*height:calc(100vh - 48px);*/
    height:100%;
    box-sizing:border-box;
    position:relative;
}

.textCommand {
    font-size:14px;
    height:100%;
    line-height:48px;
    text-transform:capitalize;
    cursor:pointer;
    transition:color 0.2s ease;
}
.textCommand:hover {
    color:#0033fb;
}
.myAppBar .cancleBox.win-command {
    padding:0px;
}
@media screen and (min-width:500px) and (min-device-width:1200px) {
    .searchBar {
        display:none;
    }
    .myToolBar {
        width:calc(100% - 48px);
        margin-left:48px;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    .searchBar {
        display:none;
    }
    .myToolBar {
        width:100%;
    }
    .anotherPaneToggle {
        background:#393939!important;
    }
    .selectBar {
        display:block!important;
        visibility:visible!important;
    }
    .searchBoxCon {
        padding-right:0px!important;
    }
}
@media only screen and (min-device-width:320px) and (max-device-width : 568px) and (orientation:portrait){

    .myToolBar {
        width:100%;
    }
    .anotherPaneToggle {
        background:#393939!important;
    }
    .searchBox {
        display:none;
    }
    .searchBoxCon.active {
        position:fixed;
        left:0px;
        top:0px;
        width:calc(100vw - 20px);
        padding:0px 10px;
        background:#393939;
    }
    .searchBoxCon.active .searchBox {
        display:block;
        width:100%;
    }
    .mySplitHeader.win-splitview-pane {
        width:70vw!important;
    }
    .myAppBar .downloadBar {
        display:none;
    }
}